<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="jsNtxuva.js"></script>
    <title>Document</title>
</head>
<body style=
    "text-align: center;
    margin: auto;
    background-color: rgb(206, 206, 206);
    ">
    <form action="htmlNtxuva.html">
        <div style=
            "color: rgb(63, 63, 65);
            font-size: 40px;
            font-family: 'Times New Roman', Times, serif;
            
            ">
            Registary</div>
        <h4>Player 1: <input type="text" id="name1" required></h4>
        <h4>Player 2: <input type="text" id="name2" required></h4>
        <button style=
            "
            border-radius: 50%;
            background-color: rgb(0, 204, 255);
            align-items: right; 
            " onclick="login()">
        Start</button>
    </form>
</body>
</html>